<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/company-history">Company History</a></li>
    <li><a href="/past-work">Past Work</a></li>
    <li><a href="/staff">Staff Page</a></li>
    <li><a href="/contact">Contact Page</a></li>
    <li><a href="/links">Links Page</a></li>
  </ul>
</nav>
<h1><%= title %></h1>