<%- include('./partials/head') %>
<%- include('./partials/header') %>

<h1><%= title %></h1>
<p>Stark Industries is a multinational industrial company and the largest tech conglomerate in the world. Founded in 1939 by Howard Stark, the elder Stark ran the company from its inception up until his death in 1991, after which Obadiah Stane was appointed interim CEO, with Tony Stark officially assuming the position shortly after at the age of twenty-one.</p>

<%- include('./partials/footer') %>