<%- include('../partials/head') %>
<%- include('../partials/header') %>

<form action="/past-work" method="POST">
  <input type="text" name="suit">
  <input type="text" name="location">
  <input type="text" name="feature">
  <input type="text" name="image">
  <button type="submit">Submit</button>
</form>


<%- include('../partials/footer') %>