<%- include('../partials/head') %>
<%- include('../partials/header') %>

<form action="/staff" method="POST">
  <input type="text" name="name">
  <input type="text" name="position">
  <input type="text" name="image">
  <button type="submit">Submit</button>
</form>


<%- include('../partials/footer') %>