<%- include('../partials/head') %>
<%- include('../partials/header') %>
<h1><%= title %></h1>
<form action="/staff" method="POST">
  <input type="text" name="name" placeholder="Full Name">
  <input type="text" name="position" placeholder="Position">
  <input type="text" name="image" placeholder="Image URL">
  <button type="submit">Submit</button>
</form>


<%- include('../partials/footer') %>